@use './global.scss' as g;

nav {
    display: flex;
    justify-content: right;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: g.$nav-size;

    padding-right: 30px;
    background-color: #4c75f2;
}

.start_button {
    background-color: #4c75f2;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.03rem;
    border-color: #fff;
    border-style: solid;
    position: relative;
    height: 70%;
    width: 120px;
    margin-right: 20%;
}

.nav_button {
    position: relative;
    margin-right: 10%;
    color: #6c757d;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    width: 120px;
    height: 60%;
    border-radius: 10px;
    border-width: 2px;
    border-color: #fff;
    background-color: #1e1e30;
    transition: background-color 0.3s ease;
}

.nav_button:hover {
    background-color: #5B0888;
}

.nav_button:last-child {
    margin-left: auto;
}