@use './global.scss' as g;

/*
 * to use global variables just use
 * g.$variable
 * where "variable" is the variable name
 * example:
 *     body {
 *         background: g.$background;
 *         color: g.$text;
 *     }
 */

.sidebar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
    bottom: 0;
    width: g.$sidebar-width;
    font-size: 1.7rem;
    transition: width 200ms ease;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
    color: #fff;
    background-color: green;
}

.icon_name {
    // display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
    width: 100px;
    background-color: red;
    text-decoration: none;
    color: #fff;
    display: none;
}

.sidebar:hover>.icon_name {
    display: flex;
}