[submodule "ml"]
	path = ml
	url = https://github.com/Fresh-Fields/ml-official.git
	branch = main
	update = merge
[submodule "vite"]
	path = vite
	url = https://github.com/Fresh-Fields/frontend.git
	branch = main
	update = merge
[submodule "sensor-module-pseudo"]
	path = sensor
	url = git@github.com:Fresh-Fields/sensor-module-pseudo.git
